<div class="back-link">
    <a href="/my/grants">
    <i class="glyphicon glyphicon-arrow-left"></i>
    {$l_grants}
    </a>
</div>

<div class="alert alert-danger hidden-ni" id="mistake"></div>
<div class="alert alert-success hidden-ni" id="success"></div>
<div class="panel panel-default">
    <div class="panel-heading">
        {$l_grants_new}
    </div>
    <div class="panel-body">
        <form method="post" id="new_grant_frm">
            <div class="form-group">
                <label for="service_id">{$l_grants_service}</label>
                <select id="service_id" name="service_id" class="form-control">
                    <option value="0">{$l_choose_service}</option>
                    <optgroup label="---">
                        {foreach from=$services item=oneservice}
                        <option value="{$oneservice.service_id}"{if $oneservice.service_id eq $grant_sid} selected{/if}>{if $oneservice.hostname}{$oneservice.hostname}{else}#{$oneservice.service_id}{/if}</option>
                        {/foreach}
                    </optgroup>
                </select>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="type" value="1"{if !$writesign} checked{/if}>{$l_grants_read}
                </label>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <label>
                    <input type="radio" name="type" value="2"{if $writesign} checked{/if}>{$l_grants_readwrite}
                </label>
            </div>
            <div class="form-group">
                <label for="account">{$l_grants_account}</label>
                <input type="text" class="form-control" id="account" name="account" value="{$grant_email}" placeholder="{$l_email}" />
                <p class="help-block">{$l_grants_account_placeholder}</p>
            </div>
            <button type="button" class="btn btn-primary btn-block" id="new_grant_btn">{$l_save}</button>
            {include file="tools/form_token.html"}
        </form>
    </div>
</div>
<input type="hidden" id="fill_message" value="{$l_fill_message}">
<input type="hidden" id="wrong_message" value="{$wrong_message}">
<input type="hidden" id="success_message" value="{$success_message}">

<script type="text/javascript">
    window.addEventListener('load', function () {
        GrantsPage({$paid_addons});
    });
</script>
