<p>
    ООО "Клинтолк"<br>
    Адрес: г. Челябинск, ул. Игната Вандышева, 4, офис 130<br>
    ИНН: 7447214693<br>
    Телефон: +7 (351) 7401730, +7 (904) 9424749
</p>

<br><br>
<table border="1" cellspacing="0" cellpadding="5" width="100%">
    <tr>
        <td width="45%">
            <table border="0" cellspacing="0" cellpadding="0" width="100%"><tr><td width="50%">ИНН&nbsp;7447214693</td><td width="50%">КПП&nbsp;744701001</td></tr></table>
        </td>
        <td rowspan="2" width="10%">Сч. №</td>
        <td rowspan="2" width="45%">40702810090780000241</td>
    </tr>
    <tr>
        <td>Получатель<br><br>Общество с ограниченной ответственностью "Клинтолк"</td>
    </tr>
    <tr>
        <td rowspan="2">Банк получателя<br><br>ОАО "ЧЕЛЯБИНВЕСТБАНК", г. ЧЕЛЯБИНСК</td>
        <td>БИК</td>
        <td>047501779</td>
    </tr>
    <tr>
        <td>Сч. №</td>
        <td>30101810400000000779</td>
    </tr>
</table>

<br><br><h1>Счёт №:BILL_ID: от :BILL_DATE:</h1><br><br>
<table border="0" width="100%">
    <tr>
        <td valign="top" width="20%">Плательщик:</td>
        <td width="80%">
            :ORG:, ИНН :INN:, ОГРН :OGRN:<br>
            Адрес: :ADDRESS:
        </td>
    </tr>
</table>

<br><br>
<table border="1" cellpadding="5" cellspacing="0" width="100%">
    <tr style="background-color: #eee">
        <th width="5%">№</th>
        <th width="35%">Наименование товара, работ, услуг</th>
        <th width="10%">Ед. изм.</th>
        <th width="10%">Кол-во</th>
        <th width="20%">Цена</th>
        <th width="20%">Сумма</th>
    </tr>
    <tr>
        <td>1</td>
        <td>:BILL_COMMENT:</td>
        <td></td>
        <td>1</td>
        <td>:BILL_COST: руб.</td>
        <td>:BILL_COST: руб.</td>
    </tr>
    <tr>
        <th colspan="5" align="right" style="border-bottom:none">Итого без НДС:</th>
        <td>:BILL_COST: руб.</td>
    </tr>
    <tr>
        <th colspan="5" align="right" style="border-bottom:none;border-top:none;">Итого НДС:</th>
        <td>---</td>
    </tr>
    <tr>
        <th colspan="5" align="right" style="border-top:none">Всего к оплате:</th>
        <th><strong>:BILL_COST: руб.</strong></th>
    </tr>
</table>

<br><br>Всего наименований 1, на сумму :BILL_COST: руб.
<br><strong>:BILL_COST_TEXT:</strong>

<br><br><br><br>
<table cellspacing="10" cellpadding="5">
    <tr>
        <td width="50%">Генеральный директор ООО "Клинтолк"</td>
        <td width="25%" style="border-bottom: 2px solid #000"></td>
        <td width="25%" style="border-bottom: 2px solid #000">Шагимуратов Д. Р.</td>
    </tr>
    <tr>
        <td></td>
        <td align="center">подпись</td>
        <td align="center">расшифровка подписи</td>
    </tr>
</table>
