<script type="text/javascript">
	var paid_addons = {$paid_addons};
</script>
<style>
    a.btn {
        text-decoration: none !important;
        padding-right: 1em;
        padding-left: 1em;
    }
</style>
<div class="container-fluid">
    <br><br><br><br>
	<div class="row">
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div>
                <span class="fs24px">{$l_grants_title}</span>
                &nbsp;&nbsp;
                <a href="/my/grants?action=new" id="grants_enable">{$l_grants_new}</a>
                {if $paid_addons_s.grants_addon.show_label}
                    <span class="label label-warning">{$l_addon} <a href="/extra-package" target="_blank" class="underline white">[?]</a></span>
                {/if}
            </div>
            <br />
			<div class="text-muted">{$l_grants_description}</div>
            <br><br>
		</div>
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div class="alert alert-danger displaynone" id="grants_addon_notice" role="alert"></div>
			<div class="alert alert-danger displaynone" id="mistake"></div>
			<div class="alert alert-success displaynone" id="success"></div>
		</div>
	</div>
	{if $grants}
	<div class="row">
		<div class="col-xs-12">
			<br>
			<table class="table table-hover">
                <thead>
                <tr>
                    <th>{$l_grants_site}</th>
                    <th>{$l_grants_date}</th>
                    <th>{$l_grants_type}</th>
                    <th>{$l_grants_account}</th>
                    <th>{$l_grants_actions}</th>
                </tr>
                </thead>
                <tbody>
				{foreach from=$grants item=onegrant}
					<tr>
						<td>
							{if $onegrant.hostname}
								{$onegrant.hostname}
							{else}
								#{$onegrant.service_id}
							{/if}
						</td>
						<td>{$onegrant.grantdate}</td>
						<td>
							{if $onegrant.grantread && $onegrant.grantwrite}
								{$l_grants_read_write}
							{else}
								{$l_grants_read}
							{/if}
						</td>
						<td>{$onegrant.email}</td>
						<td>
                            <a href="/my/grants?action=edit&grant_id={$onegrant.grant_id}" class="btn btn-xs btn-primary">{$l_grants_edit}</a>
                            <a href="/my/grants?action=delete&grant_id={$onegrant.grant_id}" class="btn btn-xs btn-danger" onclick="return confirm('{$l_are_you_sure}?');">{$l_grants_delete}</a>
                        </td>
                    </tr>
				{/foreach}
                </tbody>
			</table>
		</div>
	</div>
	{/if}
</div>
<script src="/my/js/grants.js?v=14062016"></script>
<input type="hidden" id="wrong_message" value="{$wrong_message}">
<input type="hidden" id="success_message" value="{$success_message}">
