<div class="alert alert-warning" role="alert">
	<h3><img src="/images/cleantalk-logo-mail.png" alt="" /> CleanTalk бесплатно пользователям hosterbox.ru</h3>
	<p>Используйте наше совместное предложение от CleanTalk и хостинг провайдера HOSTERBOX.ru для того, что бы получить,<p>
	<ul class="align_left">
		<li>бесплатное и неограниченное использование анти-спама CleanTalk на виртуальном хостинге Hosterbox.ru;</li>
		<li>1000 рублей в подарок для теста хостинга: вводите промо-код CLEANTALK1000 при заказе: <a href="http://hosterbox.ru">http://hosterbox.ru</a></li>
		<li>50% скидки на хостинг на 1 год после бесплатного месяца (только при заказе до 29 февраля!).
	</ul>
	<div class="center">
    	<br />
    	<a href="http://hosterbox.ru/promo/cleantalk2016" target="_blank"><button type="button" class="btn btn-primary">HOSTERBOX.ru</button></a>
	</div>
</div>	
