{if $smarty.get.updated && $update_service}
    <center>
    <div class="action_success">
    <span>{$l_settings_saved}</span>
    </div>
    </center>
{/if}

{if $ip_updated}
    <center>
    <div class="width_80_percent">
    <span>{$ip_updated}</span> <img src="/images/icons/button_ok.png" valign="middle" />
    </div>
    <br />
    <br />
    <div class="width_80_percent important_hint_hoster">
    <h3>What to do next?</h3>
    <p>1. Your's customers (websites owners) now avaible to use anti-spam protection by CleanTalk. You should announce this service to customers and let them know about <a href="https://{$smarty.server.SERVER_NAME}/install" target="_blank">setup manuals</a> to protect their websites.</p>
    <p>2. A website owner should get <a href="https://{$smarty.server.SERVER_NAME}/register?new_account=1" target="_blank">personal account</a> at cleantalk.org and fill obtained Access key in plugin settings if he wants to see anti-spam logs for the website. This step is not mandatory, just to do service more usefull for website owners.</p>
    <p>3. To get support please ask us <a href="/forum">here</a>.</p>
    </div>
    <div class="action_message">
    <br />
    <br />
    <a href="/my">{$l_go_panel|default:"Вернуться в панель управления"} >>></a>
    </div>
    </center>
{/if}
{if $update_service}
{if $errors}
    <div class="action_fail align_center">
    {foreach from=$errors item=e}
    <span>{$e}</span>
    {/foreach}
    </div>
{/if}
<table align="center" border="0" style="font-size: 10pt;"  class="input_style">
    <tr valign="top">
        <td width="25%" class="service_desc">
            {if $ip.ip_id}
                <h3>{$l_service_num}{$ip.ip_id}</h3>
                <span>{$l_hosting_protection}</span>
            {else}
                <h3>Add new IP</h3>
                <div class="grey_hint" style="margin-top: 2em;">{$l_new_website_hint}</div>
            {/if}
        </td>
        <td style="padding-left: 2em; width: 25em;" class="profile_table">
            <form method="post">
            <fieldset>
            <legend>{$l_settings}</legend>
            <ul class="profile_inputs">
                <li>
                    <div><label>{$l_ip_address}:</label></div>
                    <input type="text" name="ip" id="ip" value="{$info.ip}" />
                    <div><span class="grey_hint">{$l_ip_address_hint}</span></div>
                </li>
                <li>
                    <div><label>{$l_ip_hostname}:</label></div>
                    <input type="text" name="hostname" id="hostname" value="{$info.hostname}" />
                    <div><span class="grey_hint">{$l_optional_field}</span></div>
                </li>
                <li>
                    <input type="hidden" name="service_id" value="{$info.service_id}" />
                    <input type="submit" value="{$button_label}" class="button" />
                </li>
            </ul>
            </fieldset>
            </form>
        </td>
        <td width="25%" style="padding-left: 2em;">
           &nbsp;
            {if $services}
            <label for="services">{$l_choose_service}</label>
            <br />
            <select id="service_id_new" onchange="reload_page('{$smarty.get.int}');">
                {foreach from=$services item=s key=k}
                <option value="{$k}" {if $k == $smarty.get.service_id}selected{/if}>{$s.service_name}</option>
                {/foreach}
            </select>
            <br />
            <br />
            {/if}
            {if $ip.ip_id}
            <div>
                <ul class="service_tools">
                <li><a href="hoster-ip?ip_id={$ip.ip_id}&amp;action=delete">{$l_delete_ip}</a>
                </ul>
            </div>
            {/if}
        </td>
   </tr>
</table>
{/if}
<script>
function reload_page() {

    var service_id = '';
    if ($('service_id_new').value != '') {
        service_id = $('service_id_new').value;
    }

	var new_href = '?service_id=' + service_id + '&action=edit';
	
	window.location.replace(new_href);

	return true;
}
</script>


    {if $info.auth_key}
    {literal}
    <script type="text/javascript">
        switch_key();
    </script>
    {/literal}
    {/if}

{if $confirm_delete}
    <center>
    <div class="action_message">
    <p>
    <span>{$confirm_delete}</span>
    <form method="post">
        <input type="hidden" name="service_id" value="{$info.service_id}" />
        <input type="submit" value="{$l_yes_delete}" class="button" />
    </form>
    </p>
    <br />
    <a href="/my">{$l_go_panel|default:"Вернуться в панель управления"} >>></a>
    </div>
    </center>
{/if}

