<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <br><br><br>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 center">
        	<br><br>
        	<h4>{$l_logged_out|default:"Сеанс работы успешно завершен"}!</h4>
        	<br><br>
			<a href="https://{$smarty.server.HTTP_HOST}/my">{$l_go_panel|default:"Вернуться в Панель управления"} >>></a>
			<br /><br />
			<a href="https://{$smarty.server.HTTP_HOST}">{$l_go_main|default:"Перейти на главную"} >>></a>    
        </div>
    </div>
</div>    
