{if $links}
<h3>{$l_affiliate_links|default:"Тематические ссылки для Web-сайта"}</h3>
<table border="0" width="100%" align="center" class="partners_links">
    <tr align="center">
        <th>
            {$l_html_code|default:"HTML код"} 
        </th>
        <th>
            {$l_example|default:"Пример"} 
        </th>
    </tr>
    {section name=l loop=$links}
        <tr align="left">
            <td>
                {$links[l].link|escape:"html"}
            </td>
            <td>
                {$links[l].link}
            </td>
        </tr>
    {/section}
</table>
{/if}

