<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="alert alert-border-white">
            <h4 class="text-center">CleanTalk Anti-Spam for websites</h4>
            <div>
                <p>Protect your websites from spam in comment, registration, contact and any other forms.</p>
                <p>Install our plugin/module on your website to keep your site safe.</p>
                <ul class="features">
                    <li>Invisible protection</li>
                    <li>Detailed Anti-Spam Stats</li>
                    <li>Blocking by Countries</li>
                    <li>Personal BlackLists</li>
                    <li>Saving your time every day</li>
                </ul>
                <p class="text-center">Cheaper than a cup of coffee and highest spam protection level.</p>
                <br>
                <a href="/my/service?action=new" class="btn btn-primary btn-block">Try Now Anti-Spam for Free</a>
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>
