<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    {if $header.refresh}<meta http-equiv="refresh" content="{$header.refresh}">{/if}

    <title>{$head.title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="/my/css/cleantalk.min.css?v831072017" rel="stylesheet">
    {if $styles}
    {foreach from=$styles item=style}
    <link href="{$style}" rel="stylesheet">
    {/foreach}
    {/if}

    {literal}<script>(function(H){H.className=H.className.replace(/\bno-js\b/, 'js')})(document.documentElement)</script>{/literal}
 </head>
<body>
<style type="text/css">
#subnav {
    background-color: rgba(255, 255, 255, 1) !important;
}
#subnav ul {
  width: 100%;
  margin-left: 0!important;
  padding-left: 135px;
}
.dropdown-menu {
  z-index: 25000 !important;
}

@media (max-width: 768px) {
  #subnav ul {
    display: none;
  }
}
@media (max-width: 1200px) {
  .nav>li>a {
    padding: 15px 10px;
  }
}
@media (max-width: 1120px) {
  .user_email {
    display: none;
  }
  .nav>li>a {
    padding: 15px 5px;
  }
}
#uppermenu .nav .btn .glyphicon-plus {
  display: none;
}
@media (max-width: 855px) {
  #uppermenu .nav .btn .glyphicon-plus {
    display: inline-block;
  }
  #uppermenu .nav .btn strong {
    display: none;
  }
}
@media (max-width: 767px) {
  #uppermenu .nav .btn .glyphicon-plus {
    display: none;
  }
  #uppermenu .nav .btn strong {
    display: inline;
  }
  .user_email {
    display: inline;
  }
}
#dashboard-tour a.btn,
.popover-content .modal-footer a{
  text-decoration: none!important;  
}
.popover-content .modal-footer a.btn{
  padding: 6px 12px!important;
}
.popover-content .modal-footer{
  padding: 9px 0 0 0;
  min-width: 400px;
}
.popover-content{
  font-size: 14px;
}
.popover-title{
  font-size: 18px;
}
.rate_it{
  margin-top: 9px;
  display: inline-block;
}
.popover{
  max-width: 600px;
}
#service-logo{
  position: absolute;margin-top: 35px;font-size: 12px;color: #777;width: 118px;text-align: right;
}
@-moz-document url-prefix() {
    #service-logo{
      margin-left: -134px;
    }
}
@-ms-viewport{
  width:auto!important;
}
</style>
<link href="/my/css/font-awesome.min.css?v=16062016" rel="stylesheet">
{strip}<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <span id="service-logo">
          {if $cp_mode == 'antispam'}{$l_website_dashboard_s}{/if}
          {if $cp_mode == 'hosting-antispam'}{$l_hosting_dashboard_s}{/if}
          {if $cp_mode == 'api'}{$l_api_dashboard_s}{/if}
          {if $cp_mode == 'security'}{$l_security_dashboard_s}{/if}
          {if $cp_mode == 'ssl'}{$l_ssl_dashboard_s}{/if}
        </span>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#uppermenu" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/my"><img alt="Cleantalk" src="https://cdn.cleantalk.org/images/cleantalk-logo-main.png" width="20"></a>
            <a class="navbar-brand" href="/my" style="margin-left: -15px;"><span class="bold"><span class="brand1">Clean</span><span class="brand2">Talk</span></span></a>
            
        </div>
        {if $is_auth}
        <div class="collapse navbar-collapse" id="uppermenu"{if $cp_mode == 'api'} style="padding-bottom:2px;"{/if}>
            <ul class="nav navbar-nav">
                {if $cp_mode == 'hosting-antispam'}
                <li><a href="/my/hoster-ip?action=new" title="ADD IP"><button class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-plus"></span>ADD IP</button></a></li>
                {elseif $cp_mode == 'antispam' or $cp_mode == 'security'}
                <li><a href="/my/service?action=new" title="{$l_add_website}"><button class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-plus"></span><strong>{$l_add_website}</strong></button></a></li>
                {elseif $cp_mode == 'ssl'}
                <li><a href="/my/service" title="{$l_add_cert}"><button class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-plus"></span><strong>{$l_add_cert}</strong></button></a></li>
                {/if}
                {foreach from=$m_links item=l key=k}
                {if $l.label && $k != 'show_requests'}
                <li><a href="{$l.url}">{$l.name}&nbsp;<span class="label label-warning label-nav">{$l.label}</span></a></li>
                {else}
                {if $k == 'show_requests'}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{$l.name} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
						{if $user_info.licenses.antispam.services > 0}
						<li><a href="/my/show_requests">Anti-Spam {$l_log}</a></li>
						<li><a href="/my/show_sfw">SpamFireWall {$l_log}</a></li>
						<li><hr /></li>
						{/if}
						{if $user_info.licenses.security.services > 0}
                        <li><a href="/my/logs">Security (Brute force) Log</a></li>
                    	<li><a href="/my/logs_firewall">Security Firewall log</a></li>
                      <li><a href="/my/logs_mscan">Malware Scans Log</a></li>
						{/if}
                    </ul>
                </li>
                {else}
                <li><a href="{$l.url}">{$l.name}{if $l.show_counts && $user_info.free_months_avaible}&nbsp;<span class="label label-warning label-nav">{$user_info.free_months_avaible}</span>{/if}</a></li>
                {/if}
                {/if}
                {/foreach}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {if $news && !$hide_submenu}
                <li id="news-link">
                    <a href="#" id="news-notification"><span class="glyphicon glyphicon-bell"></span>{if !$news_readonly}<span class="label label-primary">{count($news)}</span>{/if}</a>
                    <div id="news-block">
                        <div>
                            <h4>CleanTalk Notifications</h4>
                            {foreach from=$news item=n}
                            <div class="news-item" id="news_{$n.id}">
                                <strong>{$n.title}</strong>
                                <p>{$n.content}</p>
                                {if $news_readonly}
                                <a href="{$n.link}" target="_blank">Learn more</a>
                                {else}
                                <a href="#" class="dismiss" data-id="{$n.id}">Dismiss</a>
                                <a href="/my/ajax?action=news_more&news_id={$n.id}" target="_blank">Learn more</a>
                                {/if}
                            </div>
                            {/foreach}
                            <a href="https://community.cleantalk.org/viewforum.php?f=42">All news</a>
                        </div>
                    </div>
                </li>
                {/if}
                {if !$hide_submenu}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{$l_submenu_services}<span class="caret"></span></a>
                    <ul class="dropdown-menu" style="overflow-y: hidden;">
                        <li{if $cp_mode == 'antispam'} class="active"{/if}><a href="/my?cp_mode=antispam">{$l_website_dashboard_s}</a></li>
                        <li{if $cp_mode == 'hosting-antispam'} class="active"{/if}><a href="/my?cp_mode=hosting-antispam">{$l_hosting_dashboard_s}</a></li>
                        <li{if $cp_mode == 'api'} class="active"{/if}><a href="/my?cp_mode=api">{$l_api_dashboard_s}</a></li>
                        <li{if $cp_mode == 'security'} class="active"{/if}><a href="/my?cp_mode=security">{$l_security_dashboard_s}</a></li>
                        <li{if $cp_mode == 'ssl'} class="active"{/if}><a href="/my?cp_mode=ssl">{$l_ssl_dashboard_s}</a></li>
                    </ul>
                </li>
                {/if}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle profile-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <img src="{$user_info.avatar}" class="avatar">
                        <span class="user_email">{$user_info.email}</span><span class="caret"></span>
                    </a>
                    {*if $read_only}<a href="#" id="readonly-link" data-toggle="modal" data-target="#readonly-modal">Read-only</a>{/if*}
                    <ul class="dropdown-menu">
                        <li><a href="/my/profile">{$l_profile_link}</a></li>
                        {if $cp_mode == 'antispam'}<li><a href="/my/bill/recharge">{$l_billing}</a></li>{/if}
                        {if $cp_mode == 'api'}<li><a href="/my/bill/api">{$l_billing}</a></li>{/if}
                        {if $cp_mode == 'security'}<li><a href="/my/bill/security">{$l_billing}</a></li>{/if}
                        {if $cp_mode == 'ssl'}<li><a href="/my/bill/ssl">{$l_billing}</a></li>{/if}
                        <li><a href="/my/payments">{$l_payments}</a></li>
                        {if $smarty.cookies.setup_new_password}
                        <li><a href="/my/new_password">{$l_new_password}</a></li>
                        {else}
                        <li><a href="/my/new_password">{$l_change_password}</a></li>
                        {/if}
                        <li><a href="/my/change-email">{$l_change_email}</a></li>
                        {if $show_affiliate_program}
                        <li><a href="/my/partners">{$l_affiliate_program}</a></li>
                        {/if}
                        {if $cp_mode == 'antispam'}<li><a href="/my/grants">{$l_grants}</a></li>{/if}
                        <li role="separator" class="divider"></li>
                        <li><a href="/my/logout">{$l_logout}</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        {/if}
    </div>
</nav>
{if $is_auth && !$hide_submenu}
<nav id="subnav" class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li><a href="/my?cp_mode=antispam">{$l_sub_antispam}{if !$user_info['services_count']['antispam']} <span class="label label-success">new</span>{/if}</a></li>
            <li><a href="/my?cp_mode=security">{$l_sub_security}{if !$user_info['services_count']['security']} <span class="label label-success">new</span>{/if}</a></li>
            <li><a href="/my?cp_mode=ssl">{$l_sub_ssl}{if !$user_info['services_count']['ssl']} <span class="label label-success">new</span>{/if}</a></li>
        
        
          {if $user_info.licenses.$cp_mode.valid_till}
            <li class="pull-right"><a href="/my/payments"><span class="{if $user_info.licenses.$cp_mode.valid_till|strtotime<$smarty.now+(60*60*24*30)}text-warning{/if}">{$user_info.licenses.$cp_mode.valid_till|date_format:"%b %e, %Y"|string_format:$l_valid_till_}</span></a></li>
          {/if}
          {if $read_only}
            <li class="pull-right"><a href="#" data-toggle="modal" data-target="#readonly-modal">Read-only</a></li>
          {/if}
          {strip}
          {if $show_dashboard_tour && (
            strpos($smarty.server.REQUEST_URI,'my/service?action=edit') ||
            strpos($smarty.server.REQUEST_URI,'my/show_requests') ||
            strpos($smarty.server.REQUEST_URI,'my/show_sfw') ||
            strpos($smarty.server.REQUEST_URI,'my/stat'))}
            {strip}
            <li class="pull-right"><a href="#" data-id="
              {if $ct_lang == 'ru'}
                {if strpos($smarty.server.REQUEST_URI,'my/service?action=edit')}545{/if}
                {if strpos($smarty.server.REQUEST_URI,'my/show_requests')}549{/if}
                {if strpos($smarty.server.REQUEST_URI,'my/show_sfw')}553{/if}
              {else}
                {if strpos($smarty.server.REQUEST_URI,'my/service?action=edit')}543{/if}
                {if strpos($smarty.server.REQUEST_URI,'my/show_requests')}547{/if}
                {if strpos($smarty.server.REQUEST_URI,'my/show_sfw')}551{/if}
              {/if}
            " class="mpopover">{$l_dashboard_tour} <i class="fa fa-question-circle" aria-hidden="true"></i></a></li>
            {/strip}
          {/if}
          {/strip}
        </ul>
        
    </div>
</nav>
{/if}
{if $notification && !$hide_submenu}
<div class="notification-block my" data-id="{$notification.id}">
    <div class="container-fluid">
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>CleanTalk Notification.</strong>
        {$notification.message}
        {if $notification.link}| <a href="{$notification.link}" target="_blank">Learn more</a>{/if}
        <span class="glyphicon glyphicon-remove"></span>
    </div>
</div>
{/if}
{if $annotation && !isset($annotation_hide_top)}
<div class="annotation {if $notification}with-notification{/if}" id="annotation" data-id="{$cp_mode}">
    <div>
        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3>{$annotation.title}</h3>
        {$annotation.text}
    </div>
</div>
{/if}
{if $read_only}
<div class="modal fade" id="readonly-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center text-danger">
                You have authorized by private link, access to Dashboard is restricted.<br>
                To get full access please authorize with login and password.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <a href="/my/logout?authorize=1" class="btn btn-primary">Authorize</a>
            </div>
        </div>
    </div>
</div>
{/if}
<div class="{if $container_fluid}container-fluid{else}container{/if} {if $annotation && !isset($annotation_hide_top)}with-annotation{/if}">
{/strip}
<script type="text/javascript">
var l_btn_prev = '{$l_btn_prev}';
var l_btn_next = '{$l_btn_next}';
var l_learn_more = '{$l_learn_more}';
var l_rate_it = '{$l_rate_it}';
var l_renew_license = '{$l_renew_license}';
</script>
<script type="text/javascript" src="/my/js/dashboard-tour.js?v3_16.11.2017"></script>