<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/my/css/promo.min.css?v08112016">

    <title>Have you tried CleanTalk Security plugin?</title>
</head>
<body>

<div class="flex flex-column height100">
    <div class="flex-auto header">
        <div class="flex flex-wrap container">
            <div class="flex-item media-wrap media-alignCenter">
                <img src="/my/images/promo/logo.png" alt="" />
            </div>
            <div class="flex-item media-wrap alignRight media-alignCenter">
                <a href="{$redirect_url}" class="button outline">My CleanTalk Dashboard </a>
            </div>
        </div>
    </div>
    <div class="flex-item content">
        <div class="flex flex-column container">
            <div class="flex block">
                <div class="flex-item media-hide"></div>
                <div class="flex-item media-padding">
                    <h1>Have you tried CleanTalk <br> Security plugin?</h1>
                    <div>Brute force attack is an exhaustive password search to get full access to an Administrator account <br><br>Security & Firewall by CleanTalk protects WordPress against Brute force hacks.</div>
                    <br>
                    <a href="https://wordpress.org/plugins/security-malware-firewall" class="button blue">Download Plugin</a>
                </div>
            </div>
            <div class="alignRight media-padding media-alignLeft">
                <a href="{$redirect_url}" class="button gray">Proceed to Account Overview</a>
            </div>
        </div>
    </div>
    <div class="flex-auto footer">
        <div class="container">
            <ul class="nav navbar-nav">
                <li><a href="/">{$smarty.server.HTTP_HOST}</a></li>
                <li><a href="/my" title="{$l_dashboard}">{$l_dashboard}</a></li>
                <li><a href="/blacklists" title="{$l_blacklists_link}">{$l_blacklists_link}</a></li>
                <li><a href="/price" title="{$l_pricing|default:"Стоимость"}">{$l_pricing|default:"Стоимость"}</a></li>
                <li><a href="/help" title="{$l_help|default:"Помощь"}">{$l_help|default:"Помощь"}</a></li>
                <li><a href="/publicoffer" title="{$l_license|default:"Лицензионное соглашение"}">{$l_license|default:"Лицензионное соглашение"}</a></li>
                <li><a href="/publicoffer#privacy" title="{$l_privacy_policy}">{$l_privacy_policy}</a></li>
                <li><a href="/publicoffer#refund" title="{$l_refund_policy}">{$l_refund_policy}</a></li>
                <li><a href="/contacts" title="{$l_contacts_menu|default:"Контакты"}">{$l_contacts_menu|default:"Контакты"}</a></li>
                <li><a href="/about" title="{$l_about|default:"О проекте"}">{$l_about|default:"О проекте"}</a></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>
