<div class="modal modal-license fade" tabindex="-1" role="dialog" aria-labelledby="modalLicense" id="modal-license" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title text-danger">Warning</h4>
            </div>
            <div class="modal-body text-center">
                You already have a paid certificate
            </div>
            <div class="modal-footer text-center">
                <a href="/my/service" class="btn btn-primary">Add certificate</a>
            </div>
        </div>
    </div>
</div>
{if !$script_disable}
<script>
    window.addEventListener('load', function () {
        $('#modal-license').modal('show');
    });
</script>
{/if}
