{if $smarty.get.show_notice}
<div class="container">
    <div class="alert alert-success text-center">
        <p>{$l_contact_thanks}</p>
        <a href="/my" class="alert-link">{$l_go_panel|default:"Перейти в панель управления"} >>></a>
    </div>
</div>
{else}
<div class="row">
    <div class="col-md-1 hidden-sm hidden-xs"></div>
    <div class="col-sm-12 col-md-10">
        <h3 class="page-header text-center">{$l_account} {$user_info.email}</h3>
        {if $errors}
        <div class="alert alert-danger" role="alert">
            <ul>
            {section name="e" loop=$errors}
            <li>{$errors[e]}</li>
            {/section}
            </ul>
        </div>
        {/if}
        {if $smarty.cookies.profile_updated}
        <div class="alert alert-success text-center" role="alert">
            {$l_profile_updated|default:"Профиль обновлен!"}
        </div>
        {/if}
        {if $smarty.get.need_info}
        <div class="alert alert-danger" role="alert">
            {$l_fill_contacts|default:"Пожалуйста укажите контактную информацию в анкете пользователя!"}
        </div>
        {/if}
    </div>
    <div class="col-md-1 hidden-sm hidden-xs"></div>
</div>
<form method="post" id="profile_form" action="/my/profile" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-1 hidden-sm hidden-xs"></div>
        <div class="col-sm-6 col-md-5">
            <div class="panel panel-default">
                <div class="panel-heading">{$l_contact_info}</div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="first_name">{$l_first_name|default:"Имя"}:</label>
                        <input type="text" class="form-control" name="first_name" id="first_name" value="{$info.first_name}">
                    </div>
                    <div class="form-group">
                        <label for="last_name">{$l_last_name|default:"Фамилия"}:</label>
                        <input type="text" class="form-control" name="last_name" id="last_name" value="{$info.last_name}">
                    </div>
                    <div class="form-group">
                        <label for="phone">{$l_phone|default:"Мобильный телефон"}:</label>
                        <input type="text" class="form-control" name="phone" id="phone" value="{$info.phone}">
                    </div>
                    <div class="form-group">
                        <label for="signature">{$l_signature|default:"Подпись"}:</label>
                        <textarea class="form-control" name="signature" id="signature"  maxlength="100" rows="3" style="resize:vertical">{$info.signature}</textarea>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">{$l_org_contacts}</div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="org">{$l_org}:</label>
                        <input type="text" class="form-control" name="org" id="org" value="{$info.org}">
                    </div>
                    {if $ct_lang == 'ru'}
                    <div class="form-group">
                        <label for="org_inn">{$l_org_inn}:</label>
                        <input type="text" class="form-control" name="org_inn" id="org_inn" value="{$info.org_inn}" placeholder="0123456789012">
                    	<p class="help-block">{$l_org_inn_help}</p>
                    </div>
                    <div class="form-group">
                        <label for="org_ogrn">{$l_org_ogrn}:</label>
                        <input type="text" class="form-control" name="org_ogrn" id="org_ogrn" value="{$info.org_ogrn}" placeholder="01234567890123">
                    	<p class="help-block">{$l_org_ogrn_help}</p>
                    </div>
                    {/if}
                    <div class="form-group">
                        <label for="org_ceo">{$l_org_ceo}:</label>
                        <input type="text" class="form-control" name="org_ceo" id="org_ceo" value="{$info.org_ceo}">
                    	<p class="help-block">{$l_org_ceo_help}</p>
                    </div>
                    <div class="form-group">
                        <label for="org_address">{$l_org_address}:</label>
                        <textarea class="form-control" name="org_address" id="org_address"  maxlength="100" rows="3" style="resize:vertical">{$info.org_address}</textarea>
                    </div>
                </div>
            </div>
            {if $ct_lang != 'ru'}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="panel-title">CleanTalk GDPR Agreement</span>
                </div>
                <div class="panel-body">
                    <a href="https://download.cleantalk.org/Signed_CleanTalk_GDPR_Agreement.pdf" target="_blank" class="btn btn-default"><span class="glyphicon glyphicon-download-alt"></span> Download PDF</a>
                </div>
            </div>
            {/if}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="panel-title">{$l_avatar}</span>
                </div>
                <div class="panel-body">
                    <input type="hidden" name="crop-x">
                    <input type="hidden" name="crop-y">
                    <input type="hidden" name="crop-w">
                    <input type="hidden" name="crop-h">
                    <div class="crop-box">                        
                        <img src="{$info.avatar}" id="crop_it">                        
                    </div>
                    <div class="input-group image-preview">
                        <input type="text" class="form-control image-preview-filename" disabled="disabled" value="{$info.avatar_filename}" id="avatar_filename" name="avatar_filename">
                        <span class="input-group-btn">                            
                            <button type="button" class="btn btn-default image-preview-clear" style="display:none;">
                                <span class="glyphicon glyphicon-remove"></span> {$l_avatar_clear}
                            </button>                            
                            <div class="btn btn-default image-preview-input">
                                <span class="glyphicon glyphicon-folder-open"></span>
                                <span class="image-preview-input-title" data-browse="{$l_avatar_browse}" data-change="{$l_avatar_change}">{$l_avatar_browse}</span>
                                <input type="file" accept="image/png, image/jpeg, image/gif" name="avatar"/> 
                            </div>
                        </span>
                    </div>
                </div>
            </div>            
        </div>
        <div class="col-sm-6 col-md-5">
            <div class="panel panel-default">
                <div class="panel-heading">{$l_profile_options|default:"Настройки профиля"}</div>
                <div class="panel-body">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="subscribe_news" id="subscribe_news" value="{$info.subscribe_news}" {if $info.subscribe_news}checked{/if}>
                            {$l_subscribe_news|default:"Получать новости сервиса"}
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="subscribe_week_report" id="subscribe_week_report" value="{$info.subscribe_week_report}" {if $info.subscribe_week_report}checked{/if}>
                            {$l_subscribe_week_report|default:"Получать еженедельный отчет защиты Web-сайта от спама"}
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="subscribe_account" id="subscribe_account" value="{$info.subscribe_account}" {if $info.subscribe_account}checked{/if}>
                            {$l_subscribe_account|default:"Получать еженедельный отчет защиты Web-сайта от спама"}
                        </label>
                    </div>
                    {*<div class="checkbox">
                        <label>
                            <input type="checkbox" name="enable_token_auth" id="enable_token_auth" value="{$info.enable_token_auth}" {if $info.enable_token_auth==1}checked{/if}>
                            {$l_enable_token_auth}
                        </label>
                    </div>*}
                    <div class="form-group">
                        <label for="enable_token_auth">{$l_enable_token_auth}:</label>
                        <select id="enable_token_auth" name="enable_token_auth" class="form-control selectpicker" data-size="10">
                            <option value="-1"{if $info.enable_token_auth==-1} selected{/if}>{$l_not_set}</option>
                            <option value="0"{if $info.enable_token_auth==0} selected{/if}>{$l_deny}</option>
                            <option value="1"{if $info.enable_token_auth==1} selected{/if}>{$l_allow}</option>
                        </select>
                    </div>
                    <p class="help-block">{$enable_token_auth_hint}</p>

                    <br>
                    <div class="form-group">
                        <label for="country">{$l_country|default:"Страна"}:</label>
                        <select id="country" name="country" class="form-control selectpicker" data-live-search="true" data-size="10">
                            {foreach from=$countries item=c key=code}
                            <option value="{$code}" class="flag {strtolower($code)}"{if $info.country == $code} selected{/if}>{$c}</option>
                            {/foreach}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="timezone">{$l_timezone|default:"Часовой пояс"}:</label>
                        <select id="timezone" name="timezone" class="form-control selectpicker" data-size="10">
                            {foreach from=$timezones_list item=tz}
                            <option value="{$tz.value}"{if $info.timezone == $tz.value} selected{/if}>{$tz.title}</option>
                            {/foreach}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="ct_langs">{$l_ct_langs|default:"Язык Email оповещений"}:</label>
                        <select id="ct_langs" name="lang" class="form-control selectpicker">
                            {foreach from=$ct_langs item=l key=k}
                            <option value="{$k}" class="lang {$k}"{if $k == $info.lang} selected{/if}>{$l}</option>
                            {/foreach}
                        </select>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="keep_history" id="keep_history"{if $keep_history_checked eq 1} checked{/if}>
                            {$keep_history} <span class="label label-warning">{$l_addon} <a href="/extra-package" target="_blank" class="text-muted">[?]</a></span>
                        </label>
                    </div>
                    <div class="hidden" id="keep_history_45_days_notice">
                        <div class="well">
                            {$paid_addons_s.keep_history_45_days.notice}
                        </div>
                    </div>
                    <p class="help-block">{$l_keep_history_hint}</p>

                    {if $gais_admin}
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="ga2f" id="ga2f"{if $info.google_auth_secret} checked{/if}>
                            {$l_twoway_auth}
                        </label>
                    </div>
                    {/if}
                    {if $ga_qrcode}
                    <img src="{$ga_qrcode}"><br><br><span class="text-muted">{$l_gakey_expl}</span><br><br>{$ga_code}<br>
                    {/if}
                    <input type="hidden" name="hasga2f" value="{$hasga2f}">

                    <br>
                    <div class="text-right">
                        <a href="/my/delete-account">{$l_delete_account|default:"удалить аккаунт"}</a>
                    </div>
                </div>
            </div>
            {if $user_info.hoster_api_key}
            <div class="panel panel-default">
                <div class="panel-heading">{$l_API_options}</div>
                <div class="panel-body">
                    <label>{$l_hoster_api_key}:</label>
                    <div class="input-group">
                        <input type="password" class="form-control" id="hoster_api_key" value="{$user_info.hoster_api_key}" readonly>
                        <span class="input-group-btn">
                            <button class="btn btn-default" id="hoster_api_key_button" type="button"><span class="glyphicon glyphicon-eye-open"></span></button>
                        </span>
                    </div>
                    <p class="help-block">{$l_hoster_api_key_description}</p>
                </div>
            </div>
            {/if}
        </div>
        <div class="col-md-1 hidden-sm hidden-xs"></div>
    </div>
    <div class="row">
        <div class="col-md-1 hidden-sm hidden-xs"></div>
        <div class="col-sm-12 col-md-10">
            {if $smarty.get.need_info}<input type="hidden" value="1" name="need_info">{/if}
            <button class="btn btn-primary btn-block">{$l_save|default:"Сохранить"}</button>
        </div>
        <div class="col-md-1 hidden-sm hidden-xs"></div>
    </div>
    {include file="tools/form_token.html"}
</form>
{/if}
<script>
    window.addEventListener('load', function () {
        (function () {
            window.ProfilePage = function (addons) {
                $('#hoster_api_key_button').click(function () {
                    var i = $(this).find('span');
                    if (i.hasClass('glyphicon-eye-open')) {
                        $('#hoster_api_key').prop('type', 'text');
                        $('#hoster_api_key').select();
                        i.removeClass('glyphicon-eye-open').addClass('glyphicon-eye-close');
                    } else {
                        $('#hoster_api_key').prop('type', 'password');
                        i.removeClass('glyphicon-eye-close').addClass('glyphicon-eye-open');
                    }
                });

                $('#keep_history').click(function () {
                    var name = 'keep_history_45_days';
                    if (addons[name] && (addons[name]['enabled'] || addons[name]['trial'])) return true;

                    $('#' + name + '_notice').removeClass('hidden');
                    $(this).prop( "checked", false);
                });
            };
        }());
        ProfilePage({$paid_addons});
    });
</script>
<link href="/my/js/crop/cropper.min.css" rel="stylesheet">
{literal}
<style type="text/css">
.image-preview-input {
    position: relative;
    overflow: hidden;
    margin: 0px;    
    color: #333;
    background-color: #fff;
    border-color: #ccc;    
}
.image-preview-input input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}
.crop-box{
    width: 100%;
    margin-bottom: 15px;
    text-align: center;
}
#crop_it{
    width: auto;
    max-width: 100%;
}
</style>
{/literal}