{if !$services}{if $already_exists}<br><br><div class="alert alert-danger text-center">{$already_exists}</div>{/if}{/if}

<div id="multiple-box" {if !$services}class="hidden"{/if}>
    <div class="back-link back-link-md-hide">
        <a href="/my">
            <i class="glyphicon glyphicon-arrow-left"></i>
            Dashboard
        </a>
    </div>
    <div class="container">
        <br><br><br>
    <form method="post" action="/my/service?action=update&multiple=1">
        {if $already_exists}<div class="alert alert-danger text-center">{$already_exists}</div>{/if}
        <div class="alert alert-success text-center">
            <h4 style="margin: 15px 0;"><a href="/install" style="color: #3c763d;">{$l_setup_key2}</a></h4>
        </div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>URL</th>
                <th>Service name</th>
                <th>Auth key</th>
            </tr>
            </thead>
            <tbody>
            {if $services}
            {foreach from=$services item=service}
            <tr>
                <td>
                    <input type="hidden" name="services[]" value="{$service.id}">
                    <input type="hidden" name="hostname[{$service.id}]" value="{$service.hostname}">
                    <input type="hidden" name="auth_key[{$service.id}]" value="{$service.auth_key}">
                    {$service.hostname}
                </td>
                <td>
                    <input type="text" name="name[{$service.id}]" value="{$service.name}" placeholder="Fill a name of web-site (Optional)" class="form-control">
                </td>
                <td>
                    <div class="input-group">
                        <input type="text" class="form-control" name="auth_key[{$service.id}]" id="auth_key_{$service.id}" value="{$service.auth_key}" title="The auth key is copied" data-toggle="tooltip" data-placement="top" data-container="body" readonly>
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" data-clipboard-target="#auth_key_{$service.id}"><span class="glyphicon glyphicon-copy"></span></button>
                        </span>
                    </div>
                </td>
            </tr>
            {/foreach}
            {/if}
            </tbody>
            <tfoot>
            <tr>
                <td colspan="3">
                    <button type="submit" class="btn btn-primary btn-block">{$l_button_update_services}</button>
                </td>
            </tr>
            </tfoot>
        </table>
    </form>
        <br><br>
        <div class="back-link">
            <a href="/my">
                <i class="glyphicon glyphicon-arrow-left"></i>
                Dashboard
            </a>
        </div>
    </div>
</div>

<div class="antispam-service" id="add-box">
    <div class="row">
        {if !$services}
        <div class="col-xs-1"></div>
        <div class="col-xs-2">
            <h3>{$l_new_sites|default:"Добавить новые сайты"}</h3>
            <div class="gray">{$l_new_website_hint}</div>
        </div>
        <div class="col-xs-6">
            <form method="post" class="mform">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        {$l_hostnames|default:"Адреса сайтов"}:
                        {if $other_services}
                            <a href="#" class="pull-right import-services" style="color: #777;">{$l_import_from_security}</a>
                        {/if}
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <textarea name="hostnames" id="hostnames" value="{$info.hostnames}" class="form-control" rows="10"></textarea>
                            <p class="help-block">{$hostnames_hint}</p>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <button type="submit" class="btn btn-primary btn-block disabled" id="add_new_multiple">{$l_add_website}</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-xs-3"></div>
        {else}
        <div class="col-xs-1"></div>
        <div class="col-xs-10"></div>
        <div class="col-xs-1"></div>
        {/if}
    </div>
</div>
<script>
    var l_service_created_js = '{$l_service_created_js}';
    var l_already_exists = '{$l_already_exists}';
    var email = '{$user_info.email}';
    var user_token = '{$user_info.user_token}';
    var row_tpl = '<tr><td><input type="hidden" name="services[]" value=":SERVICE_ID:"><input type="hidden" name="hostname[:SERVICE_ID:]" value=":HOSTNAME:"><input type="hidden" name="auth_key[:SERVICE_ID:]" value=":AUTH_KEY:">:HOSTNAME:</td><td><input type="text" name="name[:SERVICE_ID:]" value="" placeholder="Fill a name of web-site (Optional)" class="form-control"></td><td><div class="input-group"><input type="text" class="form-control" name="auth_key[:SERVICE_ID:]" id="auth_key_:SERVICE_ID:" value=":AUTH_KEY:" title="The auth key is copied" data-toggle="tooltip" data-placement="top" data-container="body" readonly><span class="input-group-btn"><button class="btn btn-default" type="button" data-clipboard-target="#auth_key_:SERVICE_ID:"><span class="glyphicon glyphicon-copy"></span></button></span></div></td></tr>';
    var row_error = '<tr><td colspan="3" class="alert-danger text-center">:MESSAGE:</td></tr><tr><td colspan="3"></td></tr>';
    var lang = '{$ct_lang}';
    var product_name = 'antispam';
    window.addEventListener('load', function () {
        AntispamService();
        var clipboard = new Clipboard('.btn');
        clipboard.on('success', function (e) {
            e.clearSelection();
            var selector = $(e.trigger).data('clipboard-target');
            $(selector).tooltip('show');
            setTimeout(function () {
                $(selector).tooltip('destroy');
            }, 2000);
        });
        {if $other_services}
        $('.import-services').click(function(e){
            $('#add_new_multiple').removeClass('disabled');
            var os = {$other_services};
            var items = [];
            if(Array.isArray(os)){
                os.forEach(function(i) {
                    var parts = i.split('#');
                    items.push(parts[0]);
                });
                $('#hostnames').val(items.join('\n'));
            }
            return false;
        });
        {/if}
    });
</script>
